{% extends "base.html" %}

{% block content %}
<div class="card center" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title">Log in</h5>
        <form method="POST" action="{{ url_for('auth.auth_login') }}">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-password-toggle" type="button">
                            {% assets "icons" %}
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{{ ASSET_URL }}#eye" style="display: none;"/>
                                <use xlink:href="{{ ASSET_URL }}#eye-slash"/>
                            </svg>
                            {% endassets %}
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr/>
        <a href="{{ url_for('auth.register_form') }}">Register</a>
    </div>
</div>
{% endblock %}